* {
    box-sizing: border-box;
}
nav ul {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}
nav a img {
    margin-right: 50px;
    height: 40px;
    justify-content: right;
}
